[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose.git
